main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18vh;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
p {
    flex-direction: row;
    padding-right: 20px;
}
.button { 
    background-color: rgb(238, 238, 238);
    border: none;
    color:rgb(119, 119, 119);
    padding: 8px 16px;
    cursor: pointer;
}

.logo {
    max-width: 100%;
    height: auto;
}

#search {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
}

input[type=text] {
    width: 600px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 40px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://icon-library.com/images/white-search-icon-png/white-search-icon-png-17.jpg');
    background-position: 10px 10px;
    background-size: 25px 25px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
  }

upperFooter {
    display: flex;
    flex-direction: row;
    justify-content: left;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: rgb(238, 238, 238);
    color:rgb(119, 119, 119);
}
lowerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    padding-top: 0px;
    padding-left: 10px;
    border-style: 1px solid;
    border-color: #999999;
    background-color: rgb(238, 238, 238);
    color:rgb(119, 119, 119);
}
lowerFooter a:visited {
    color: inherit;
}
 